#btnCtrlPanel {
	position:absolute; 
	z-index:1;
	left:0px;
	top:100px;
}

.ctrlPanel {
	display:none;
	width:0px;
	position:absolute; 
	z-index:1;
	left:0px;
	top:70px;
	opacity:0.8;
}

.subPanel {
	display:none;
	margin-left:30px;
	margin-top:0px;
	margin-right:30px;
	background-image: url('../images/background4.jpg');
	text-align:center;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:3px solid #666;
}

.subSubPanel {
	margin:5px;
	padding:5px;
	background-image: url('../images/background3.jpg');
	text-align:center;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:2px solid #666;
}

.subSubTitle {
	font-weight:bold;
	position:relative;
	padding:1px 4px;
	top:-10px;
	background-image: url('../images/background4.jpg');
	text-align:center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border:2px solid #666;
}

.subTable {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.closeBtnControl {
	float:right; 
	z-index:9;
	position:relative; 
}

.geofence {
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	float:left;
	width:260px;
	text-align:center;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #666;
}

#geofence0 {
	background-color:red;
}


#geofence1 {
	background-color:green;
}


#geofence2 {
	background-color:blue;
}

.geoBkgnd {
	margin:0px auto;
	text-align:center;
	width:240px;
	background-color:white;
	opacity:0.80;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #666;
}

.geoValue {
	text-align:center;
	width:240px;	
	font-size:80%;
	font-family:arial;
	background:transparent;
	color:black;
	border:none;
	resize:none;
}

.geoValueHdr {
	text-align:center;
	width:240px;
	font-size:125%;
	background:transparent;
	color:black;
	font-weight:bold;
	border:none;
}

.geoWrapper {
	display:none;
}


.vehMaintInterval {
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	float:left;
	width:300px;
	text-align:center;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #666;
}

.maintBkgnd {
	margin:0px auto;
	text-align:center;
	width:280px;
	background-color:white;
	opacity:0.70;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #666;
}

.maintValue {
	text-align:center;
	width:280px;	
	font-size:80%;
	font-family:arial;
	background:transparent;
	color:black;
	border:none;
	resize:none;
}

.maintValueHdr {
	text-align:center;
	width:280px;
	font-size:95%;
	background:transparent;
	color:black;
	font-weight:bold;
	border:none;
}

.maintMore {
	font-size:80%;
	color:red;
	text-decoration:underline;
	cursor:pointer;
	font-weight:bold;
}

.maintWrapper {
	display:none;
}


#maint0 {
	/* background-color:red; */
}


#maint1 {
	/* background-color:green; */
}


#maint2 {
	/* background-color:blue; */
}

