html { 
	height:100%;
 }

body { 
	min-width:320px;
	max-height: 100%;
	height:100%;
	margin-top:0px;
	margin-bottom:0px; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 0 0 0 0;
	background-image: url('../images/background3.jpg');
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	color: #dddddd;
	border:0px solid #0000ff;
}

	
h2 {
	margin-bottom:0px;
	padding-bottom:0px;
}

a {color:#aaddFF;}
a:link    {color:#aaddff;}
a:visited {color:yellow;}


#loginContainer {
	margin-top:100px;
}

#container {
	margin-top:80px;
}

/* Absolute positioned header for all browsers*/
div#banner-wrapper {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	height:60px;
	z-index:1;
}
/* Resets the header position to fixed for real browsers such as Firefox*/
body>div#banner-wrapper {
	position:fixed;
}

div#header {
	height:100px;
	width:720px;
	margin:0 auto;
}

#banner{
	text-align:center; 
	width:50%;
	min-width:320px;
        padding:0px 0px 0px 0px;
	margin:0 auto;
}

.bannerImg {
	width:48px;
	cursor:pointer;
}

#logo {
	height:46px;
	width: 180px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #cccccc;
	-moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        border-radius: 20px;
}

#logoImg {
	position:relative;
	top:0px;
	width:94px;
}

#login {
        display: none;
	text-align: center;
	height: 100px;
	width: 480px;
	margin-left: auto;
	margin-right: auto;
}

.alertIcon {
	float: left;	
	width:64px;
	height:64px;
	margin:15px;
}

.clearFloat {
	clear: both;
}

div#preload { display: none; }

#vlistCenter {
	top:61px;
	bottom:4px;
	position:relative;
	margin-left:auto; 
	margin-right:auto;
	max-height:100%;
	bottom:auto;
	border:0px solid #00ffff;
}

#vlistContainer {
	display:none;
	position:absolute; z-index:1;
	top:68px; bottom:0px;left:0px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #666;
	background-color: #444444;
	background-image: url('../images/background4.jpg');
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #666;
}

#vlistContainer2 {
	border: 1px solid #666;
	background-color: #444444;
	background-image: url('../images/background4.jpg');
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #666;
	opacity:0.8;
}


#vlistContainer3 {
	border: 1px solid #666;
	background-color: #444444;
	background-image: url('../images/background4.jpg');
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #666;
	margin-top:-200px;
	margin-left:-200px;
	opacity:0.8;
}


#vehicleList {
	display: block;
	min-width:318px;
	width: 100%;
	font-size: 13px;
	text-align: center;
	padding: 8px 0px 0px 0px;
	border:0px solid #ff0000;
}

#vinEntry {
	display:none;
}

#locationSelect {
	display:none;
}

.refreshContainer {
	cursor:pointer;
	border:0px solid #ffffff; 
	position:absolute; 
	top:-4px; 
	left:0px; 
	z-index:1; 
}

.refreshIcon {
	margin-left:20px; 
	margin-top:-6px
}


.fenceContainer {
	cursor:pointer;
	border:0px solid #ffffff;
	position:relative;
	height:100%;
	top:0px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	z-index:1;
}

.separator {
	padding:0px;
}

.vehicle {
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border:0px solid #ff0000;
}

.vehicleIcon {
	position:absolute;
	left:7px;
    	width:80px;
}

.fenceIcon {
	position:relative;
	top:-2px;
	width:88px;
	height:65px;
	display:block;
	visibility:hidden;
}

.address {
	width:90%;
	min-height:100px;
	min-width: 195px;
	margin-top: 0px;
	margin-right: 0px;	
	font-size:13PX;
	text-align: left;
	border: 1px solid #666;
	background-color: #444444;
	padding: 8px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

.closeButton {
	cursor:pointer;
	float:right; 
	display:none;
	width:32px;
}

.actionImage {
	cursor:pointer;
}

.pageIndicator {
	text-align: center;	
	vertical-align:middle; 	
	margin-top: 10px;
}


.pageNavIcon {
	vertical-align:middle;
	margin:-3px 0px 0px 0px; 
	padding:0px 0px 0px 0px; 
}

.navContainer {
	display:inline;
	padding: 6px 4px 6px 6px;
	background-color: #cccccc;
	border: 1px solid #d1e3db;
	margin-left:-4px;
}

.navPageEmpty {
	display:inline;
	margin-right: 1px;
	padding: 1px 1px 1px 1px;
	background-color: #aab4b1;
	border: 1px solid #aab4b1;
}

.navPageFull {
	display:inline;
	margin-right: 1px;
	padding: 1px 1px 1px 1px;
	background-color: #778181;
	border: 1px solid #778181;
}

.navPageFull:hover {
	background-color: #778181;
	border: 1px solid #ffffff;
}

.navPageActive {
	display:inline;
	margin-right: 1px;
	padding: 1px 1px 1px 1px;
	background-color: #3344f1;
	border: 2px solid #6374f1;
}

#map {
	display:none;
	border: 0px solid #ffffff;
}

#help {
	width:90%;
}

#error {
	width:50%;
}

.errorTitle {
	text-align:center;
	font-weight:bold;
	font-size:125%;
}

.errorMessage {
	text-align:center;
	font-weight:normal;
	font-size:100%;
}

.popup-box {
	display:none;	
	background: #dddddd;
	color:#000000;
	font-size:medium;
	text-align: center;	
	border: 1px solid #afafaf;
	width: 20em;
	left: 23em;
	top: 3em;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	clear:both;
	width:90%;
	max-width:640px;
	min-width:280px;
	position:relative;
	margin-top:0px;
	left:0px;
	top:0px
	-moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        border-radius: 20px;
	border:1px solid #666
} 

noJSText a:link    {color:blue;}
#noJSText a:visited {color:green;}


.miniIcon {
	width:32px;
	vertical-align:middle;
}

.miniIconFloor {
	width:48px;
	vertical-align:middle;
}

.clear {
	clear: both;
}

.tableFilter {
	position:absolute;
	left:0;
	bottom:0px;
}

.tableFilterContainer {
	position:relative;
	height:80px;
	margin-bottom:10px;
}