#vSelector {
	display:none;
	position:absolute; 
	z-index:2;
	left:0px;
	top:0px;
	float:left;
	text-align:center;
	border: 1px solid #666;
	background-color: #444444;
	background-image: url('../images/background4.jpg');
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	border:1px solid #666;
	opacity:0.8;
 	font-size:large;
}

#menuIndicator {
	display:none;
	position:absolute; 
	z-index:2;
	left:0px;
	top:54px;
	width:20px;
	height:45px;
}
